@use "utils" as *;

.about {
  padding: vw(100) vw(160) vw(300);

  h4 {
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 7rem;
    padding: 0 vw(90);
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 6rem;
    padding: 0;

    img {
      width: vw(300);
      object-fit: contain;
    }

    p {
      font-size: 1.2em;
      font-weight: 450;
      line-height: 2;
      letter-spacing: 1.2px;
      text-align: justify;
      text-transform: uppercase;
    }
  }
  @include mediaMaxW(768px) {
    h4 {
      padding: 0;
    }
    &__content {
      flex-direction: column-reverse;

      img {
        width: 50%;
      }
    }
  }
}

.contacts-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: vw(50);
  row-gap: 0.5em;
  padding: 0 vw(150);
  margin: 0 vw(208) 2em;

  @include mediaMaxW(414px) {
    padding: 0;
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-item-color);
    border-radius: 50%;
    width: 2em;
    height: 2em;

    img {
      object-fit: contain;
    }
  }

  a {
    display: inline-flex;
    align-items: center;
    gap: 1em;

    font-family: "Roboto Mono";
    font-size: 1.8em;
    font-weight: 450;
    line-height: 2.4em;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: var(--nav-item-color);

    @include mediaMaxW(768px) {
      font-size: 1.3em;
      line-height: 1;
    }
  }
}
