@use "./utils.scss" as *;

* {
  font-family: "Roboto";
}

html {
  font-size: vw(10);
}

body {
  margin: 0;
  padding: 0;
  font-size: max(14px, 2rem);
}

h1 {
  font-size: 2.8em;
  line-height: 1;
  letter-spacing: 0.01em;

  @include mediaMaxW(768px) {
    font-size: 2.4em;
  }
}

h2 {
  font-size: 2.6em;
  line-height: calc(64 / 52);
  letter-spacing: 0.062em;

  @include mediaMaxW(768px) {
    font-size: 2.2em;
  }
}

h3 {
  font-size: 2.4em;
  line-height: 1.5;
  letter-spacing: 0.0275em;

  @include mediaMaxW(768px) {
    font-size: 2em;
  }
}

h4 {
  font-size: 1.6em;
  line-height: 2;
  letter-spacing: 0.1em;

  @include mediaMaxW(768px) {
    font-size: 1.2em;
  }
}

a {
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

::-webkit-scrollbar {
  height: 8px;
  opacity: 0.4;
  background: #fff;
  border-radius: 10px;

  &-thumb {
    border-radius: 10px;
    background: var(--table-border);
  }
}

.gray-bg {
  background-color: rgba(#000, 0.05);
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30vh calc(50% - 5rem);
}

.spinner {
  animation: spin 1s linear infinite;
  font-size: 10rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.text-center {
  text-align: center !important;
}

.position-relative {
  position: relative !important;
}

.rounded-gray-btn {
  color: #000;
  font-size: min(14px, 0.8em);
  font-weight: 450;
  line-height: calc(18 / 16);
  letter-spacing: 0.9px;
  text-align: center;
  text-transform: uppercase;

  padding: 1em calc((27 / 16) * 1em);
  background: var(--gray);
  border-radius: 41px;
}
