@use "./utils.scss" as *;

* {
  font-family: "Roboto";
}

html {
  font-size: vw(10);
}

body {
  margin: 0;
  padding: 0;
  font-size: max(14px, 2rem);
}

h1 {
  font-size: 2.8em;
  line-height: 1;
  letter-spacing: 0.01em;

  @include mediaMaxW(768px) {
    font-size: 2.4em;
  }
}

h2 {
  font-size: 2.6em;
  line-height: calc(64 / 52);
  letter-spacing: 0.062em;

  @include mediaMaxW(768px) {
    font-size: 2.2em;
  }
}

h3 {
  font-size: 2.4em;
  line-height: 1.5;
  letter-spacing: 0.0275em;

  @include mediaMaxW(768px) {
    font-size: 2em;
  }
}

h4 {
  font-size: 1.6em;
  line-height: 2;
  letter-spacing: 0.1em;

  @include mediaMaxW(768px) {
    font-size: 1.2em;
  }
}

a {
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.gray-bg {
  background-color: rgba(#000, 0.05);
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30vh calc(50% - 5rem);
}

.spinner {
  animation: spin 1s linear infinite;
  font-size: 10rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.text-center {
  text-align: center;
}
