@use "utils" as *;
@use "sass:map";
@use "vars";

.model-page {
  .table-wrapper {
    overflow-x: auto;
    max-width: 100%;
    border: 1px solid var(--table-border);
    border-bottom: none;
    margin-bottom: 4em;
  }

  table.model-table {
    width: auto;
    line-height: 0.72em;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--table-border);

    .col-wide {
      width: 25%;
    }

    .col-narrow {
      width: 8.333%;
    }

    .col-medium {
      width: 12.5%;
    }

    tr {
      border-bottom: none;
    }
    th,
    td {
      padding: 1.2em;
      word-break: normal;
      white-space: nowrap;
    }
    th {
      font-size: max(12px, 0.6em);
      color: var(--nav-item-color);
      font-family: "Roboto Mono";
    }
    td {
      font-size: max(14px, 0.7em);
      color: rgb(15, 14, 15);
      padding-top: 0;
    }
  }

  h4,
  .gray-bg,
  .floor-scheme,
  .floors-info {
    padding-inline: vw(145) vw(150);
  }

  table:not(.model-table) {
    margin: 0 vw(150) 2.5em vw(145);

    tr:first-child {
      border-top: 1px solid var(--table-border);
    }
  }

  .gray-bg {
    padding-block: 0 vw(80);
    h4 {
      margin: 0;
      padding: 0;
    }
  }

  .cart-btn {
    position: relative;
    z-index: 1;
    padding: 10px 6px;

    color: var(--label-color);
    font-size: 11.6px;
    font-weight: 450;
    line-height: 9.7px;
    letter-spacing: 0.3px;
    text-transform: uppercase;

    background: none;
    border: none;
    cursor: pointer;

    &-wrapper {
      position: absolute;
      bottom: 1.5em;
      right: vw(150);
      border-radius: 14.5px;
      overflow: hidden;
      display: inline-block;
    }

    &-background {
      position: absolute;
      inset: 0;
      backdrop-filter: blur(1.65px);
      background: rgba(map.get(vars.$colors, "gray"), 0.2);
      z-index: 0;
    }
  }

  h4 {
    font-weight: 600;
    line-height: calc(25 / 32);
    letter-spacing: calc((1.2 / 32) * 1px);
    text-transform: uppercase;

    &.photos {
      margin: vw(80) 0;
    }
    &.floors-scheme {
      margin: vw(154) 0 vw(57);
    }
  }

  .description {
    margin-top: 1.6em;
    margin-inline-start: 5.5em;
    font-size: max(14px, 0.75em);
    line-height: 1.25em;
    letter-spacing: calc((1.2 / 15) * 1px);
    text-transform: uppercase;
    word-break: break-word;

    @include mediaMaxW(768px) {
      margin-inline-start: 2em;
    }
  }

  .floor-scheme {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: vw(1000);
      object-fit: contain;
      margin-bottom: 6.4rem;
    }

    .floor-switcher {
      display: inline-flex;
      border: 1px solid #000;
      border-radius: 8px;
      background: #fff;

      &-wrapper {
        position: absolute;
        top: 0;
        right: vw(150);
        max-width: 40%;
        overflow-x: auto;
        overflow-y: hidden;

        @include mediaMaxW(768px) {
          top: calc((1.6em + vw(57)) * -1);
        }
      }

      $labelBorderRadius: 6px;
      input {
        position: absolute;
        opacity: 0;
        pointer-events: none;

        &:checked + label {
          color: #fff;
          background: #000;
          border-radius: $labelBorderRadius;
        }
      }

      label {
        white-space: nowrap;
        cursor: pointer;
        user-select: none;
        text-align: center;
        padding: 0.625em 1em;

        color: var(--nav-item-color);
        background: #fff;
        border: 1px solid transparent;
        border-right-color: #000;
        transition: color 0.2s, background 0.2s;

        &:first-of-type {
          border-top-left-radius: $labelBorderRadius;
          border-bottom-left-radius: $labelBorderRadius;
          border-left-color: transparent;
        }

        &:last-of-type {
          border-top-right-radius: $labelBorderRadius;
          border-bottom-right-radius: $labelBorderRadius;
          border-right-color: transparent;
        }

        @include mediaMaxW(768px) {
          padding-block: 0.4em;
        }
      }
    }
  }

  .floors-info {
    display: flex;
    align-items: center;
    color: rgb(46, 46, 46);
    font-size: max(16px, 0.8em);
    line-height: calc(17 / 16);
    text-transform: uppercase;
    margin-bottom: 0.9em;

    img {
      margin-inline: 1.5em 0.4em;
    }
  }
}
