@use "./utils.scss" as *;

.back-btn-container {
  padding: 1em vw(145) 7.4rem;

  button {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 1.5em;
  }
}

.news-container {
  position: relative;
  margin-bottom: 15rem;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  h1 {
    font-weight: 600;
    margin-block: 5rem;
    margin-inline: 14.5rem 0;
  }

  p {
    margin: 0;
    padding: 0 vw(229);

    font-size: 1.5em;
    line-height: 2;
    letter-spacing: 0.17em;
    text-align: justify;
    text-transform: uppercase;
  }

  img {
    float: right;
    margin: 5px vw(229) 0 5rem;
    width: max(180px, vw(605));
    object-fit: contain;
  }
}
