@use "./utils.scss" as *;

table {
  border-collapse: collapse;
  width: -webkit-fill-available;
  table-layout: fixed;
  color: var(--nav-item-color);
  font-size: max(14px, 1.6rem);
  text-align: left;
  text-transform: uppercase;

  &,
  th,
  td {
    border: none;
  }
  th,
  td {
    padding: 0.475em 1.5em;
    word-break: break-word;

    @include mediaMaxW(768px) {
      padding: 0.475em;
    }
  }
  tr {
    border-bottom: 1px solid var(--table-border);
  }
}
