@use "./utils.scss" as *;

.tooltip {
  position: absolute;
  transform: translate(-50%, -120%);
  border-radius: 25px;
  background: #fff;
  color: #000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 1em;
  padding: 2.25em 2em;
  pointer-events: none;
  max-width: 95vw;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: normal;
  z-index: 10;
}

.catalog-tooltip {
  display: flex;

  div:first-child,
  &__data {
    display: flex;
    flex-direction: column;
  }

  &__name {
    margin-block: 5px 20px;
    color: #090909;
    font-size: 1.44em;
    font-weight: 600;
    line-height: calc(45 / 28.8);
    letter-spacing: 6.15px;
    text-transform: uppercase;
  }

  &__status {
    display: inline-flex;
    align-items: center;
    color: #000;
    font-size: max(14px, 0.7em);
    font-weight: 450;
    letter-spacing: 3px;
    text-transform: uppercase;

    .circle {
      width: 1em;
      height: 1em;
      border-radius: 50%;
      margin-right: 10px;

      &.green {
        background: var(--green);
      }
      &.red {
        background: var(--red);
      }
    }
  }

  .vertical-divider {
    align-self: stretch;
    border: 1px solid var(--label-color);
    margin-inline: vw(150) vw(40);
  }

  .horizontal-divider {
    width: 100%;
    border: 1px solid var(--label-color);
    margin-block: 1.1em 1.15em;
  }

  &__data {
    justify-content: center;
    color: var(--label-color);
    font-size: max(15px, 0.8em);
    font-weight: 450;
    line-height: calc(2 / 1.4);
    letter-spacing: 0.1px;
    text-transform: uppercase;
  }
}
